body{
	font-family: Lato, Arial, sans-serif;
}
.main-body{
  width:80%;
  margin: auto;
  margin-top: 0px;
}

@media screen and (max-width: 500px){
	.main-body{
		width: 100%;
	}
}

.navbar{
  margin-bottom: 0px;
  width: 100%;
  border-radius: 0px;
  padding: 0px 20px 0px 20px;

  /* PARA O NAV FICAR EM CIMA DO BACKGROUND DO DIV */
  /*background-color: transparent;
  position: absolute;
  top: 0;*/
}

#nav-contact{
	background-color: #00cdcf;
    color: #444 !important;
    border-radius: 10px;
    position: relative;
    top: 5px;
}
#nav-contact a{
	padding: 10px 15px;

}

.main-photo{
	background-image: url("recife2.jpg");
	/*height: 1000px;*/
	padding: 28em 0 26em 0;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
	text-align: center;
	/*padding-top: 500px;*/
}

@media screen and (max-width: 500px){
	.main-photo{
		padding: 3em 3em 3em 3em;
	}
}


.main-text{
	/*height: 10%;*/
	position: relative;
	top: 40%;
	text-align: center;
}

.photo-title{
	
	color: #ffffff;
	margin-top: 0px;
	font-weight: bold;

	/* NOVO CODIGO PRA FICAR IGUAL AO TYPIFY TEMPLATE */
	background-color: #00cdcf;
	padding: 1.1em;
	/* QUANDO SET O WIDTH OR HEIGHT DE UM INLINE ELE SE COMPORTA COMO BLOCK
	ENTAO ELE FICARIA NO CANTO ESQUERDO. PRA ELE SE COMPORTAR COMO INLINE DE NOVO
	E IR PRO MEIO TEMOS QUE EXPLICITAR O DISPLAY*/
	/*Servia quando eu nao tava usando o bootstrap col-sm-6*/
	display: inline-block;
	margin: auto;

	border-style: double solid;
	border-width: 4px 1px;
	font-size: 2.5em;
	line-height: 1.4em;
	text-transform: uppercase;
}

@media screen and (max-width: 500px){
	.photo-title{
		font-size: 1.65em;
	}
}

.sub-title{
	color: #ffffff;
	font-weight: bolder;
	font-size: 1.75em;
}

@media screen and (max-width: 500px){
	.sub-title{
		font-size: 1.25em;
	}
}


/* /////////////////////////////////////////////////////////// */


/* SECTION DOS OBJETIVOS */
.goals{
    background-color: #cff5fb;
    /* border-top: 1px solid #adadad; */
    min-height: 550px;
    padding-top: 5em;
}

.goal-box{
	height: 550px;
	text-align: center;
	padding-top: 50px;
}

@media screen and (max-width: 500px){
	.goal-box{
		height: auto;
		text-align: center;
	}
}

.goal-box p{
	font-size: 16px;
}

.img-box{
	margin: 0 auto;
	display: block;
	/*text-align: center;*/
}

.box{
	height: 424px;
	background-color: #fff;
	border-radius: 6px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin-bottom: 2em;
    padding: 1.5em;
}

/* END OF SECTION DOS OBJETIVOS */




/* /////////////////////////////////////////////////////////// */

/*section{
	padding: 50px 0;
}*/

/* SECTION DOS PROJETOS */
.projects{
	
	background-color: #cff5fb;
	padding-bottom: 5em;
}

.projects-title{
	text-align: center;
	/*margin: 0px 300px 0px 300px;*/
	padding-top: 30px;
	margin-bottom: 0;
	font-size: 4em;
}

hr {
    border-color: #F05F40;
    border-width: 3px;
    max-width: 10em;
}

/*
	CSS DA DIV DOS PROJETOS
*/

.startup-logo{
	height: 200px;
	/*Parte da gambiarra pra centralizar o div de dentro*/
	position: relative;
	margin: 0 auto;
}

/* TEVE QUE TER UM WORKAROUND PRA PODER CENTRALIZAR VERTICALMENTE O DIV DE DENTO
	PQ PELA DEFINICAO DO PROPRIO CSS NAO PODERIA FAZER NORMALMENTE PQ OCORRE
	COLLAPSED MARGINS
	http://stackoverflow.com/questions/34552116/why-doesnt-margin-auto-center-an-element-vertically?noredirect=1&lq=1
	*/
.centered-img{

	display: block;
	max-width: 100%;
	max-height: 100%;
	
	margin: auto;
/*	width: 100%;
	height: 100%;*/
	/*Gambiarra pra fazer com q centralize*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*img{
      width:auto;
      height:auto;
      max-width:100%;
      max-height:100%;
    }*/

/* FAZER ISSO PRA NAO TER MARGENS NEGATIVAS E O CONTEUDO SAIR DO DIV MAIOR */
.row{
	margin-right: 15px;
	margin-left: 15px;
}
.project-rows{
	padding-top: 30px;
}

.col-md-4{
	padding: 0.5em;
}

.project-box{
	/*padding: 30px;*/
	/*border: 3px solid black;*/

	background-color: #adadad;
	border-radius: 6px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin: 15px;
    padding: 0.5em;
}

.project-box:nth-child(3n+1){
	border-right: 3px solid black;
}
.project-box:nth-child(3n+2){
	border-right: 3px solid black;
}

.project-title{
	text-align: center;
}

.project-text{
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
}

/* END OF SECTION DOS PROJETOS */



/* /////////////////////////////////////////////////////////// */



/* SESSION DO PORTFOLIO */

.portfolio{
	padding: 100px 0;
}

.section-heading{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.portfolio-item{
	/*background-color: #f3f3f3;*/
	margin-bottom: 30px;
}

.portfolio-item-img{
	max-width: 290px;
	max-height: 210px;

	min-width: 214px;
	min-height: 210px;
}

.portfolio-startup-img{
	position: relative;
	min-width: 210px;
	max-width: 400px;
	height: 210px;
}

.portfolio-caption{
	max-width: 400px;
	background-color: #f3f3f3;
	padding: 15px;
}

.portfolio-caption h4{
	margin-top: 0;
}

.portfolio-link {
  /* FAZ BLOCK PRA ELE TER UMA HEIGHT E WIDTH SEM SER AUTO
  E FAZ RELATIVE PRA O PORTFOLIO-HOVER SER ABSOLUTE EM RELACAO A ELE E NAO AO BLOCO DO PORTFOLIO-ITEM TODO*/
  display: block;
  position: relative;

  /*FAZ MAX-WIDTH 400PX PRA ELE NAO PASSAR DO WIDTH DA IMAGEM E OCUPAR O WIDTH DO COL-MD-4 TODO*/
  max-width: 400px;
  /*position: relative;
  max-width: 400px;
  margin: 0 auto;*/
}

.portfolio-hover{
	background: rgba(254, 209, 54, 0.9);

	/* FAZ ABSOLUTE PRA ELE PEGAR 100% DE HEIGHT E WIDTH EM RELACAO AO PORTFOLIO-LINK*/
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
}

.portfolio-hover:hover{
	opacity: 1;
}

/* ESSE NAO SERVE PQ PRA CADA TELA A GNT TERIA QUE REDEFINIR O PADDING EM em*/
.portfolio-content{
	padding: 6em 0;
	text-align: center;
}

/*O JEITO Q TAVA NO TEMPLATE*/
.portfolio-content-agency{
	position: absolute;
	/*COM O POSITION ABSOLUTE O DIV TODO FICA DO TAMANHO DO + ENTAO TEM Q FAZER WIDTH: 100%*/
	width: 100%;
	top: 40%;
	font-size: 20px;
	text-align: center;
}



/* MODALS DO PORTFOLIO */
.portfolio-modal{
  margin: 0;
  height: 100%;
  width: auto;
}

.modal-content{
	text-align: center;
}

.star-primary{
	padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

.star-primary:after{
	content: "\f005";
	font-family: FontAwesome;
	font-size: 2em;
	position: relative;
	bottom: 0.75em;
	background-color: white;
	padding: 0.25em;
}

.portfolio-title{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 5em;
}

.portfolio-logo{
	height: 300px;
	/*Parte da gambiarra pra centralizar o div de dentro*/
	position: relative;
	margin: 0 auto;
}

/* END OF SESSION DO PORTFOLIO */


/*
	SESSION DO CONTATO
*/

.contact{
	background: #f3f3f3;
	/*height: 600px;*/
	padding-top: 50px;
	padding-bottom: 100px;
}

.contact-title{
	position: relative;
	margin-top: 0;
    /*margin-bottom: 40px;*/
    font-size: 42px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}

.contact-sub-title{
	text-align: center;
    font-size: 20px;
    font-weight: 400;
    /*margin-bottom: 60px;*/
}

/*.contact-form{
	margin-left: auto;
	margin-right: auto;
}*/

.contact-input{
/*	display: inline;*/
    background: #fff;
/*    border: none;*/
    border-radius: 5px;
/*    outline: none;*/
/*    box-shadow: 0 4px 0 rgba(0,0,0,0.05);*/
    height: 52px;
    font-size: 18px;
    line-height: 32px;
/*    color: #aaa;*/
    font-weight: 400;
    padding-left: 64px;
/*    vertical-align: top;*/
}

.input-duo{
	/* PRA FAZER O ICONE DENTRO DO INPUT*/
	/* http://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box/18839305#18839305 */
	position: relative;
}
.icon{
	/* PRA FAZER O ICONE DENTRO DO INPUT*/
	position: absolute;
	/*padding: 20px;*/
	/* PRA FAZER O ICONE MAIOR*/
	width: 64px;
	font-size: 24px;
    line-height: 52px;
    text-align: center;
    color: #eee;
}

.send-btn{
	font-size: 18px;
    line-height: 36px;
}

/* END OF SECTION DO CONTATO */



/* /////////////////////////////////////////////////////////// */




/* FOOTER */

.footer{
	background-color: #38A5DB;
	height: 150px;
	box-shadow: 0 -4px 0 rgba(0,0,0,0.1);
	padding: 30px 50px;
}

.footer-body{	
	width: 80%;
	margin: auto;
}

.footer p{
	font-size: 20px;
	display: inline-block;
	float: left;
}

.social-links{
	display: inline-block;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-links li{
	display: inline-block;
	margin: 0 10px 5px;
	border-radius: 3px;
}

.social-icon{
	font-size: 24px;
}

/* END OF FOOTER */